
@{
    ViewBag.Title = "Index";
}

<h3>Welcome @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest User") - Authorized employee </h3>

<h2>Name: @ViewBag.Name</h2>
<h2>Address: @ViewBag.Address</h2>